body {
  background-color: #b2dfdb;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.imgSize{
  height: 70px;
  width: 70px;
}

.wrapper{
  background-color: white;
  margin-right: 20px;
  margin-left: 20px;
  max-width: 600px;
  padding-right: 10px;
  padding-left: 10px;
}

.rightWrapper{
  background-color: white;
  margin-right: 30px;
  margin-left: 700px;
  max-width: 400px;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 43px;
  color: black;
}

.container1{
  width: 100px;
  float: left;
}

.container2{
  padding-right: 40%;
  overflow: hidden;
}

h1{
  font-size: 250%;
  font-weight: 500;
}

.center{
  margin: auto;
}

.logo{
  content: url('../src/img/sun.jpg');
  height: 5px;
  width: 5px;
}



